Repository IBM/clai, pull requests merged in 2020-06, with the labels that each got.

#74 Tellina integration
  README.md
  clai/server/plugins/tellina/README.md
  clai/server/plugins/tellina/__init__.py
  clai/server/plugins/tellina/install.sh
  clai/server/plugins/tellina/manifest.properties
  clai/server/plugins/tellina/requirements.txt
  clai/server/plugins/tellina/tellina.py
  test_integration/test_skill_tellina.py
Labels: feature request, skill

#73 DataXplore Integration
  clai/server/plugins/dataxplore/README.md
  clai/server/plugins/dataxplore/__init__.py
  clai/server/plugins/dataxplore/dataxplore.py
  clai/server/plugins/dataxplore/figures/dx_summarize_plot_airQuality.png
  clai/server/plugins/dataxplore/figures/dx_summarize_plot_test.png
  clai/server/plugins/dataxplore/install.sh
  clai/server/plugins/dataxplore/manifest.properties
  clai/server/plugins/dataxplore/requirements.txt
Labels: feature request, skill

#75 Add bandit based orchestrator
  .gitignore
  clai/server/README.md
  clai/server/orchestration/patterns/bandit_orchestrator/README.md
  clai/server/orchestration/patterns/bandit_orchestrator/bandit_orchestrator.py
  clai/server/orchestration/patterns/bandit_orchestrator/config.yml
  clai/server/orchestration/patterns/bandit_orchestrator/install.sh
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/README.md
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/__init__.py
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/bandit_config.json
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/config.yml
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/install.sh
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/manifest.properties
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/requirements.txt
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/rltk_bandit_orchestrator.py
  clai/server/orchestration/patterns/rltk_bandit_orchestrator/warm_start_datagen.py
  docs/FAQ.md
Labels: feature request, orchestration

#77 Update dataXplore
  README.md
  clai/server/plugins/dataxplore/README.md
  clai/server/plugins/dataxplore/dataxplore.py
  clai/server/plugins/dataxplore/figures/dx_summarize_plot_airQuality.png
  clai/server/plugins/dataxplore/figures/dx_summarize_plot_test.png
  clai/server/plugins/dataxplore/requirements.txt
Labels: enhancement, skill

#81 GitHub skill
  clai/server/plugins/gitbot/README.md
  clai/server/plugins/gitbot/gitbot.py
  clai/server/plugins/gitbot/github.py
  clai/server/plugins/gitbot/sample_config.json
  clai/server/plugins/gitbot/service.py
  clai/server/plugins/tellina/manifest.properties
  configPlugins.json
  test_integration/test_skill_tellina.py
Labels: feature request, skill
